:root {
    --button-size: 30px;
}

#pageContainer {
    margin-top: 40px;
    border-top: 1px solid #adb5bd;
    display: flex;
    justify-content: center;
    width: 100vw;
}


#pageContainer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}

#pageContainer li {
    font-family: sans-serif;
    margin: 0 15px 0 15px;
    width: var(--button-size);
    height: var(--button-size);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#pageContainer li:hover:not(.now_page) {
    border-bottom: 1px solid black;
}

.now_page {
    background: #495057;
    color: white;
    border-radius: var(--button-size);
}